<article ng-controller="LoginCtrl">
  <h3>Login Required</h3>

  <div class="loginError">
    {{loginError}}
  </div>
  <form ng-submit="login()">
    <p>
      <span>Email:</span>
      <input type="text" ng-model="user.email">
    </p>
    <p>
      Password:
      <input type="password" ng-model="user.password">
    </p>
    <input type="submit" value="Login">
  </form>

  <hr>

  <h3>Register</h3>

  <div class="registrationError" ng-show="regErrors">
    Error(s):
    <ul>
      <li ng-repeat="error in regErrors">{{error}}</li>
    </ul>
  </div>
  <form ng-submit="register()">
    <p>Email: <input type="text" ng-model="newuser.email"></p>
    <p>Display Name: <input type="text" ng-model="newuser.display"></p>
    <p>Password: <input type="password" ng-model="newuser.password"></p>
    <p>Confirm Password: <input type="password" ng-model="newuser.passwordConfirm"></p>
    <input type="submit" value="Register">
  </form>
</article>
