@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
/* line 5, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/_layout.sass */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
body::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 32, ../sass/_layout.sass */
header {
  width: 100%;
  float: left;
}
/* line 34, ../sass/_layout.sass */
header h1 {
  height: 100px;
  background: #290063;
}
/* line 37, ../sass/_layout.sass */
header h1:after {
  content: "Menu \21D2";
  display: block;
  font-family: "EB Garamond", serif;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #57b5d5;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}
/* line 48, ../sass/_layout.sass */
header h1.open:after {
  content: "Menu \21D0";
  background: #0093c6;
}
/* line 51, ../sass/_layout.sass */
header nav {
  display: none;
}
/* line 53, ../sass/_layout.sass */
header nav.open {
  display: block;
}
/* line 55, ../sass/_layout.sass */
header nav li {
  width: 100%;
  float: left;
  background: #57b5d5;
}
/* line 58, ../sass/_layout.sass */
header nav li.active, header nav li:hover {
  background: #0093c6;
}
/* line 60, ../sass/_layout.sass */
header nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 767px) {
  /* line 32, ../sass/_layout.sass */
  header {
    width: 35.89744%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 67, ../sass/_layout.sass */
  header h1 {
    position: relative;
    background: #290063;
    text-align: right;
    padding-right: 20px;
    margin-right: 10px;
  }
  /* line 68, ../sass/_layout.sass */
  header h1:after, header h1.open:after {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    background: none;
  }
  /* line 15, ../sass/_layout.sass */
  header h1:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 0 solid #290063;
    border-left: 20px solid #290063;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 72, ../sass/_layout.sass */
  header nav {
    display: block;
  }
  /* line 74, ../sass/_layout.sass */
  header nav li {
    float: none;
    width: auto;
  }
  /* line 78, ../sass/_layout.sass */
  header nav li:nth-child(1) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(1):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 10px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 80, ../sass/_layout.sass */
  header nav li:nth-child(1).active, header nav li:nth-child(1):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 10px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(1).active:after, header nav li:nth-child(1):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 10px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 78, ../sass/_layout.sass */
  header nav li:nth-child(2) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 30.0px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(2):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 10px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 80, ../sass/_layout.sass */
  header nav li:nth-child(2).active, header nav li:nth-child(2):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(2).active:after, header nav li:nth-child(2):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 10px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 78, ../sass/_layout.sass */
  header nav li:nth-child(3) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 40px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(3):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 10px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 80, ../sass/_layout.sass */
  header nav li:nth-child(3).active, header nav li:nth-child(3):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 30.0px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(3).active:after, header nav li:nth-child(3):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 10px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 78, ../sass/_layout.sass */
  header nav li:nth-child(4) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 50px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(4):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 10px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 80, ../sass/_layout.sass */
  header nav li:nth-child(4).active, header nav li:nth-child(4):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 40px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(4).active:after, header nav li:nth-child(4):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 10px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
}
@media (min-width: 979px) {
  /* line 32, ../sass/_layout.sass */
  header {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 84, ../sass/_layout.sass */
  header h1 {
    position: relative;
    background: #290063;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
  }
  /* line 15, ../sass/_layout.sass */
  header h1:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 0 solid #290063;
    border-left: 40px solid #290063;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 89, ../sass/_layout.sass */
  header nav li:nth-child(1) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 40px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(1):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 20px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 91, ../sass/_layout.sass */
  header nav li:nth-child(1).active, header nav li:nth-child(1):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(1).active:after, header nav li:nth-child(1):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 20px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 89, ../sass/_layout.sass */
  header nav li:nth-child(2) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 60.0px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(2):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 20px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 91, ../sass/_layout.sass */
  header nav li:nth-child(2).active, header nav li:nth-child(2):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 40px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(2).active:after, header nav li:nth-child(2):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 20px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 89, ../sass/_layout.sass */
  header nav li:nth-child(3) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 80px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(3):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 20px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 91, ../sass/_layout.sass */
  header nav li:nth-child(3).active, header nav li:nth-child(3):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 60.0px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(3).active:after, header nav li:nth-child(3):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 20px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 89, ../sass/_layout.sass */
  header nav li:nth-child(4) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 100px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(4):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 20px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 91, ../sass/_layout.sass */
  header nav li:nth-child(4).active, header nav li:nth-child(4):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 80px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(4).active:after, header nav li:nth-child(4):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 20px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 94, ../sass/_layout.sass */
  header h1 {
    position: relative;
    background: #290063;
    text-align: right;
    padding-right: 20px;
    margin-right: 25px;
  }
  /* line 15, ../sass/_layout.sass */
  header h1:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 0 solid #290063;
    border-left: 50px solid #290063;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 99, ../sass/_layout.sass */
  header nav li:nth-child(1) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 50px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(1):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 25px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 101, ../sass/_layout.sass */
  header nav li:nth-child(1).active, header nav li:nth-child(1):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 25px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(1).active:after, header nav li:nth-child(1):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 25px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 99, ../sass/_layout.sass */
  header nav li:nth-child(2) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 75px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(2):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 25px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 101, ../sass/_layout.sass */
  header nav li:nth-child(2).active, header nav li:nth-child(2):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 50px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(2).active:after, header nav li:nth-child(2):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 25px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 99, ../sass/_layout.sass */
  header nav li:nth-child(3) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 100px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(3):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 25px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 101, ../sass/_layout.sass */
  header nav li:nth-child(3).active, header nav li:nth-child(3):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 75px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(3).active:after, header nav li:nth-child(3):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 25px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 99, ../sass/_layout.sass */
  header nav li:nth-child(4) {
    position: relative;
    background: #57b5d5;
    text-align: right;
    padding-right: 20px;
    margin-right: 125px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(4):after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #57b5d5;
    border-left: 25px solid #57b5d5;
    position: absolute;
    top: 0px;
    left: 100%;
  }
  /* line 101, ../sass/_layout.sass */
  header nav li:nth-child(4).active, header nav li:nth-child(4):hover {
    position: relative;
    background: #0093c6;
    text-align: right;
    padding-right: 20px;
    margin-right: 100px;
  }
  /* line 15, ../sass/_layout.sass */
  header nav li:nth-child(4).active:after, header nav li:nth-child(4):hover:after {
    content: "";
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0 solid #0093c6;
    border-left: 25px solid #0093c6;
    position: absolute;
    top: 0px;
    left: 100%;
  }
}

/* line 104, ../sass/_layout.sass */
section {
  width: 100%;
  float: left;
}
/* line 105, ../sass/_layout.sass */
section h2 {
  width: 100%;
}
@media (min-width: 767px) {
  /* line 104, ../sass/_layout.sass */
  section {
    width: 61.53846%;
    float: right;
  }
}
@media (min-width: 979px) {
  /* line 104, ../sass/_layout.sass */
  section {
    margin-left: 8.47458%;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 106, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 17, ../sass/style.sass */
body {
  background: #fff3da;
  font-family: "EB Garamond", serif;
}

/* line 22, ../sass/style.sass */
header h1 {
  font-size: 50px;
  background: #290063;
  color: #fff3da;
  font-family: "Over the Rainbow", cursive;
  line-height: 100px;
}
/* line 30, ../sass/style.sass */
header nav li a {
  color: #fadc68;
  text-decoration: none;
  line-height: 50px;
  font-size: 30px;
  font-variant: small-caps;
}
@media (min-width: 979px) {
  /* line 30, ../sass/style.sass */
  header nav li a {
    font-size: 30px;
  }
}

/* line 40, ../sass/style.sass */
section h2 {
  font-size: 2.5em;
  line-height: 1.2em;
}
/* line 42, ../sass/style.sass */
section article {
  clear: both;
}
